<h1>List of athletes</h1>
<div>
  <ul>
    <li *ngFor="let athlete of athletes">
      {{athlete.name + " (" + athlete.sport + ") is " }} 
      <span *ngIf="!athlete.active"> not </span>
      active
    </li>
  </ul>
</div>
<h2>add a new player</h2>
<div style="margin-bottom: 10px;">
  <label style="padding-right: 10px;">Name</label>
  <input  type="text" [(ngModel)] ="newAthlete.name"/>
</div>
<div style="margin-bottom: 10px;">
  <label style="padding-right: 10px;">Sport</label>
  <input  type="text" [(ngModel)] ="newAthlete.sport"/>
</div>
<div style="margin-bottom: 10px;">
  <label style="padding-right: 10px;">Active</label>
  <input  type="checkbox" [(ngModel)] ="newAthlete.active"/>
</div>
<button (click)="addAthlete()">Add Player</button>

